<!doctype html>
<html>
<head>
	<title>Guetteur</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
	<style>
		body 		{ padding-top:80px; background-color: black; }
	</style>
</head>
<body>

<div class="container">

<div class="jumbotron text-center">
    

<form class="form-group" method="post">
        <input type="text" name="email" placeholder="Entrez votre email">
        <input type="password" name="password" placeholder="Entrez votre mot de passe">
        <input type="submit" value="SignUp">


</div>

</div>

</body>
</html>